@import "tailwindcss";

@theme {
    --color-background: var(--color-background)
    --color-bgg: var(--color-bgg);
    --color-blk: var(--color-blk);
    --color-wt: var(--color-wt);
    --color-gra: var(--color-gra);
    --color-gr: var(--color-gr);
    --color-d: var(--color-d);
    
}

:root{
    --color-background: white;
    --color-back: black;
    --color-blk: black;
    --color-wt: white;
    --color-gra: #374151;
    --color-gr: #e5e7eb;
    --color-d: #D1D5DB;
}

.dark {
    --color-background: black;
    --color-back: white;
    --color-blk: white;
    --color-wt: black;
    --color-gra: white;
    --color-gr: #2d2f33;
    --color-d: #1F2937;
}